.grid {
    display: grid;
    place-content: center;
    grid-template-columns: repeat(3,340px);
    grid-auto-columns: repeat(3,340px);
    gap: 50px;
    
}

.contentCard {
    padding: 50px;
    border-radius: 25px;
    background-color: var(--gray-1);
    margin: 50px 100px;
}

