.grid {
    display: grid;
    place-content: center;
    grid-template-columns: repeat(3,350px);
    grid-auto-columns: repeat(3,350px);
    gap: 50px;
}

.contentCard {
    width: 1200px;
}
.elem {
    height: 350px;
    border: 1px solid red;
  }