.header {
  margin-top: 40px;
  height: 68px;
  margin: 40px 100px 0 100px;
a {
  color: var(--primary);
  text-decoration: none;
  margin-left: 57px;
  font-size: 24px;
  font-weight: 500;
  
}
  img {
    width: 210px;
    height: 68px;
    cursor: pointer;
  }
}



