.header {
  justify-content: space-between;
  height: 68px;
  margin: 40px 100px 0 45px;

a {
  color: var(--primary);
  text-decoration: none;
  margin-left: 55px;
  font-size: 24px;
  font-weight: 500;
  
}
  .logo{
    width: 210px;
    height: 68px;
    cursor: pointer;
}
}


