.banner {
    margin: 65px 100px 0 100px ;
    position: relative;
    .bannerImg{
        object-fit: cover;
        width: 100%;
        border-radius: 25px;
        filter: brightness(70%);
    }
    h2{
        font-weight: 500;
        font-size: 48px;
        color: var(--text-color);
        position : absolute;
        top: 70px;
    }
}