@use '../../assets/styles/mixins' as mixin;

.banner {
    background:rgba(22, 21, 21, 0.199) url("../../assets/images/banner.png") ;
    background-size: cover;
    background-position: center;
    background-blend-mode:hue;
    
    height: 230px;
    margin: 65px 100px 0 100px;
    border-radius: 25px;
    h2{
        font-weight: 500;
        font-size: 48px;
        color: var(--text-color);
        margin-left: 15px;
    }
    
    @include mixin.sm-lt {
        background:rgba(22, 21, 21, 0.199) url("../../assets/images/imageMobile.png") ;
        background-size: cover;
        background-position: center;
        background-blend-mode:hue;
        height: 120px;
        margin: 20px ;
        h2{
            font-size: 24px;
        }
    }   
}